<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Perfil</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h5>Conectado como <b>[[${#request.userPrincipal.principal.fullName}]]</b> </h5>
<div class="container text-center">

  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellidos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${user.email}"></td>
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

	<div class="container text-center">
		<form th:action="@{/processPerfil}" th:object="${user}" onsubmit="event.preventDefault(); comprobar(this);"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Correo: </label>
					<div class="col-8">
						<input type="email" th:value ="${user.email}" class="form-control" id = "mail"
							required/>
					</div>
				</div>
				
				<div class="form-group row">
				<label class="col-4 col-form-label">Contrasena: </label>
				<div class="col-8">
					<input type="password" th:field="*{password}" class="form-control" id = "contr"
							required pattern=".{6,10}" title="Entre 6 y 10 caracteres"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Confirmar contrasena: </label>
				<div class="col-8">
					<input type="password" class="form-control" id = "confirmar"
							required pattern=".{6,10}" title="Entre 6 y 10 caracteres"/>
				</div>
			</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Nombre: </label>
					<div class="col-8">
						<input type="text" th:value="${user.firstName}" class="form-control" id = "nombre"
							required pattern=".{2,20}" title="Entre 2 y 20 caracteres"/>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Apellidos: </label>
					<div class="col-8">
						<input type="text" th:value="${user.lastName}" class="form-control" id = "apellidos"
							required pattern=".{2,20}" title="Entre 2 y 20 caracteres"/>
					</div>
				</div>

				<div>
					<button type="submit" class="btn btn-primary">Actualizar
						cuenta</button>
				</div>
		</form>
	</div>
	
	<script type="text/javascript">
	function comprobar(form){
		if(!(form.contr.value == form.confirmar.value)){
			alert("La contraseña no es igual a su confirmacion");
			form.contr.focus();
			form.confirmar.focus();
			return false;
		} else{
			form.submit();
			return true;
		}
	}
	</script>
	
</body>
</html>