<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	 <meta charset="UTF-8">
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Registro</h1>
		</div>
		<form th:action="@{/process_register}" th:object="${user}" onsubmit="return comprobar(this);"
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">Correo: </label>
				<div class="col-8">
					<input type="email" th:field="*{email}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Contrasena: </label>
				<div class="col-8">
					<input type="password" th:field="*{password}" class="form-control" id = "password"
							 pattern=".{6,10}" title="Entre 6 y 10 caracteres"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Confirmar contrasena: </label>
				<div class="col-8">
					<input type="password" th:field="*{password}" class="form-control" id = "confirmar"
							 pattern=".{6,10}" title="Entre 6 y 10 caracteres"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Nombre: </label>
				<div class="col-8">
					<input type="text" th:field="*{firstName}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Apellidos: </label>
				<div class="col-8">
					<input type="text" th:field="*{lastName}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div>
				<button type="submit" class="btn btn-primary">Crear cuenta</button> 
			</div>
		</div>
		</form>
	</div>
	
	<script type="text/javascript">
	function comprobar(form){
		if(!(form.password.value == form.confirmar.value)){
			alert("La contraseña no es igual a su confirmacion");
			form.password.focus();
			form.confirmar.focus();
			return false;
		} else{
			return true;
		}
	}
	</script>
	
</body>
</html>